@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat');

/* usage: background-color: var(--main-bg-color);*/
body {
    --primary-color: black;
    --secondary-color: #ef5d36;
    --third-color: white;
    --font-size: 1em;
    font-size: var(--font-size);
    background-color: var(--primary-color);
    color: var(--third-color);
    font-family: 'Montserrat', sans-serif;
    margin:0;
}

/* Links */
a {
    color: var(--third-color);
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
}

.text-orange {
    color: var(--secondary-color);
}

.text-shadow {
    text-shadow: 2px 2px var(--third-color);
}

.underline {
    border-bottom: 3px solid var(--secondary-color);
}
/* Resume */
main {
    padding-top: 110px;
}

/* Resume | Experience */
.exp--heading {
    font-size: calc(var(--font-size) * .9);
}

.exp--name {
    display: block;
}

.exp--position,
.exp--date {
    font-weight: 400;
    font-style: italic;
    font-size: calc(var(--font-size) * .85);
}

.objective--content,
.exp--content,
.technologies--list {
    font-size: calc(var(--font-size) * .80);
}

.technologies--list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.technologies--list > li {
    margin-bottom: 5px;
}

/* Spacing at edge of screen */
.objective--content,
.exp--content,
.technologies--list,
.exp--heading {
    margin-left: 8px;
    margin-right: 8px;
}

/* Navigation Bar */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
}

.nav-bar {
    padding: 20px 0;
}

.title,
.heading-title {
    text-align: center;
}

.title--heading {
    font-family: 'Kaushan Script', cursive;
    margin: 0;
    height: 50px;
    padding-bottom: 10px;
}

/* Contact Info */
.contact-info {
    height: 20px;
}
.contact-info span:nth-child(even) {
    padding: 0 10px;
}

/* Icons */
.contact-info__text{
    display: none;
}